@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


body {
  font-family:monospace;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar{
  display: none;
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.about{
  background: linear-gradient(to right, #21316C, #3D1F39,black);
  
}

/* #Contact{
  background-image: url(https://cdn.prod.website-files.com/61233686e9da0579abde1edb/6360c794af347dfff85bd7e5_noise.png);
} */

#Experience{
  background-image: url(https://cdn.prod.website-files.com/61233686e9da0579abde1edb/6360c794af347dfff85bd7e5_noise.png);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 640px) {
  .about{
    background: linear-gradient(to bottom, #21316C, #3D1F39,black);

  }
} 